.development {
  background-image: url(../img/Development-titile.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 88px;
  background-size: 70%;

  @include media-breakpoint-down(xs) {
    background-position-x: left;
    background-position-y: 20px;
    background-size: 520px;
  }
}
