.services-breadcrumbs {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #6c757d;
  font-size: 19px;
  line-height: 30px;
  margin-left: 70px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  @include border-radius($breadcrumb-border-radius);

  @include media-breakpoint-down(xs) {
    padding: 0;
    margin-left: auto;
  }
}

.services-breadcrumbs a {
  color: #000000;
  text-decoration-color: #6c757d;
}

.services-breadcrumbs li.active {
  color: #000000;

  &::before {
    color: #000000;
  }

}

.services-breadcrumbs__item {

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  +.services-breadcrumbs__item {
    padding-left: $breadcrumb-item-padding;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $breadcrumb-item-padding;
      color: $breadcrumb-divider-color;
      content: $breadcrumb-divider;
    }
  }
}
