.services {
  margin-left: 0;
  margin-bottom: initial;
  transform: initial;

  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }

  // @include media-breakpoint-up(lg) {
  //   @include make-col(4);
  // }

  // @include media-breakpoint-up(xl) {
  //   @include make-col(4);
  // }


}


.services_development {
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-down(md) {
    align-items: center;
  }
}

.services_advertising {
  display: flex;
  align-items: center;
}

.services_branding {
  display: flex;
  align-items: center;
}

.services_management {
  display: flex;
  align-items: center;
}

.services__list {
  background: #FBFBFB;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  max-width: 300px;
  margin-left: 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }

}

// .services__list_off {
//   display: none;
// }

.services__list {
  .services__tab {
    a.active {
      background-color: #252525;
      color: #FFFFFF;
      // height: 68px;
      line-height: 65px;
      padding: 0 0 0 31px;
      position: relative;

      @include media-breakpoint-down(md) {
        font-size: 17px;
        padding: 0 8px 0 8px;
        line-height: 40px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        padding: 0 8px 0 8px;
        line-height: 35px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 16px;
        padding: 0 8px 0 8px;
        line-height: 35px;
      }

      &::after {
        transform: rotate(90deg);
        background-color: #6D6D6D;
        content: "";
        left: 105%;
        position: absolute;
        top: -5px;
        width: 1px;
        height: 80px;
      }
    }
  }
}

.services__tab {
  border: 1px solid #EAEAEA;
  width: 100%;
}

.services__tab_high:nth-child(2) a {
  height: 90px;
  line-height: 26px;
  padding: 15px 0 0 31px;

  &.active {
    height: 90px;
    line-height: 26px;
    padding: 15px 0 0 31px;
  }
}

.services__tab a {
  // height: 68px;
  font-size: 19px;
  line-height: 65px;
  padding: 0 0 0 31px;
  color: #1A1A1A;
  text-decoration: initial;


  @include media-breakpoint-down(md) {
    font-size: 17px;
    padding: 0 8px 0 8px;
    line-height: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    padding: 0 8px 0 8px;
    line-height: 35px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 16px;
    padding: 0 8px 0 8px;
    line-height: 35px;
  }


}

.services__label {
  transform: rotate(-90deg);
  position: absolute;
  top: 220px;
  left: -33px;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @include media-breakpoint-down(xs) {
    transform: initial;
    display: block;
    position: absolute;
    top: -35px;
    left: 70px;
  }

  &::after {
    transform: rotate(90deg);
    background-color: #000000;
    content: "";
    left: -35%;
    position: absolute;
    top: -7px;
    width: 1px;
    height: 25px;
  }
}

.services__label_advertising {
  top: 215px;
  left: -33px;

  @include media-breakpoint-down(xs) {
    transform: initial;
    display: block;
    position: absolute;
    top: -35px;
    left: 70px;
  }

  &::after {
    left: -35%;
    position: absolute;
    top: -7px;
  }
}

.services__label_branding {
  top: 210px;
  left: -15px;

  @include media-breakpoint-down(xs) {
    transform: initial;
    display: block;
    position: absolute;
    top: -35px;
    left: 70px;
  }

  &::after {
    left: -35%;
    position: absolute;
    top: -7px;
  }
}

.services__label_management {
  top: 195px;
  left: -15px;

  @include media-breakpoint-down(xs) {
    transform: initial;
    display: block;
    position: absolute;
    top: -35px;
    left: 70px;
  }

  &::after {
    left: -35%;
    position: absolute;
    top: -7px;
  }
}
